<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MP7X9F4');</script>
<!-- End Google Tag Manager -->

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	WebFont.load({
		google: {
			families: ['Vollkorn', 'Cabin', 'Roboto', 'Playfair Display', 'Montserrat']
		}
	});
</script>

{% if template contains 'customer' %}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "customer_area.js" | shopify_asset_url | script_tag }}
{% endif %}

{% comment %} {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }} {% endcomment %}

{{ 'jquery.magnific-popup.js' | asset_url | script_tag }}

{{ 'custom.js' | asset_url | script_tag }}
{% comment %} <script src="{{ 'lazysizes.min.js' | asset_url }}" async=""></script> {% endcomment %}

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"15003569"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
<script>
	function GetRevenueValue() {
		return {{ cart.total_price | money_without_currency }};
	}

	window.uetq = window.uetq || [];
	window.uetq.push('event', 'purchase', {revenue_value: GetRevenueValue (), 'currency': 'USD'});  
</script>

<script src="{{ 'app.js' | asset_url }}"></script>
{% if settings.show_multiple_currencies %}
{% include 'currencies' %}
{% endif %}
{% if settings.show_shipping_calculator and template contains "cart" %}
{% include 'cart-shipping-scripts' %}
{% endif %}

{% unless settings.performance == "sport" or template contains "customer" %}
<script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>

<script data-no-instant>

  function inIframe() {
    try {
      return window.self !== window.top;
    } catch (e) {
      return true;
    }
  }

  if (!inIframe()){
    InstantClick.on('change', function() {

      $('head script[src*="shopify"]').each(function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = $(this).attr('src');

        $('body').append( script );
      });

      $('html').removeClass('remodal-is-locked');

    });
    InstantClick.init();
  }
</script>
{% endunless %}
<script>
  {{ settings.custom_scripts }}
</script>

<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/><!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->

{% capture the_snippet_content %}
{% include 'carthook-checkout' %}
{% endcapture %}

{% unless the_snippet_content contains "Liquid error" %} 
{% include 'carthook-checkout' %} 
{% endunless %}
<!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->

{% comment %} Start Google Dynamic Remarketing Code {% endcomment %}

{% comment %} Instructions on using the code. Firstly, all the code can be pasted into an empty section at the bottom of your template.liquid file. Secondly, in the line below, where it shows google_conversion_id = 0, delete the 0 and add your conversion id (found in AdWords) {% endcomment %}
{% assign google_conversion_id = 881517190 %}
{% assign shopify_store_country  = 'US' %}

<script type="text/javascript">

  {% if template contains 'cart' %}
  var google_tag_params = {
    ecomm_prodid: [{% for item in cart.items %}'shopify_{{ shopify_store_country  }}_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
    ecomm_pagetype: 'cart',
    ecomm_totalvalue: {{ cart.total_price | money_without_currency  | remove: ','  }}
  };

    {% elsif template contains 'collection' %}
    var google_tag_params = {
    ecomm_prodid: [{% for item in collection.products limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
    ecomm_pagetype: 'category',
    ecomm_category: '{{ collection.handle }}'
  };

  {% elsif template contains 'index' %}
  var google_tag_params = {
    ecomm_pagetype: 'home'
  };

  {% elsif template contains 'product' %}
  var google_tag_params = {
    ecomm_prodid: 'shopify_{{ shopify_store_country  }}_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
    ecomm_pagetype: 'product',
    ecomm_totalvalue: {{ product.selected_or_first_available_variant.price | money_without_currency  | remove: ','  }}
  };

  {% elsif template contains 'search' %}
  var google_tag_params = {
    ecomm_prodid: [{% for item in search.results limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
    ecomm_pagetype: 'searchresults'
  };
  {% else %}
  var google_tag_params = {
    ecomm_pagetype: 'other'
  };

  {% endif %}

  /* <![CDATA[ */
  var google_conversion_id = {{ google_conversion_id }};
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{ google_conversion_id }}/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

{% comment %} Start Bing UET Code {% endcomment %}

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26039988"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

{% comment %} End Bing UET Code {% endcomment %}

{% include 'gts' %}

{%- if template.name == 'index' -%}
<script>
  document.addEventListener("StartScriptsLoaded", function(event) {

    $('#play-video').magnificPopup({
      items: {
        src: 'https://www.youtube.com/watch?v=NJRaKpnhZ7U'
      },
      type: 'iframe',
      iframe: {
        markup: '<div class="mfp-iframe-scaler">'+
        '<div class="mfp-close"></div>'+
        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
        '</div>', 
        patterns: {
          youtube: {
            index: 'youtube.com/', 
            id: 'v=', 
            src: '//www.youtube.com/embed/%id%?autoplay=1' 
          }
        },
        srcAction: 'iframe_src', 
      }
    });
   
  });

</script>	
{%- endif -%}