<div id="our-story">
  <div class="banner-section">
    <div class="row hero-about-custom">
      <img class="hero-story lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'banner-about.jpg' | asset_url }}" />
      <div class="caption-top">
        <h1>Our Story</h1>
        <p>How Our Company Was Born</p>
      </div>

    </div>
    <div class="text-bottom-hero">
      <div class="caption-bt">
        <p class="hero-text">As a therapist (MMFT), Donna noticed that her clients were calmer and felt more grounded<span class="br-display">
          when using a Weighting Comforts weighted blanket. Not only are weighted blankets commonly used in the autism community,
          </span><span class="br-display"> they also <span class="color-df"> provide comfort to the average person in a time of stress, depression or anxiety.</span></span></p>
      </div>
<!--       <div class="container hero-button">
        <div class="the-pounder">
          <a class="link-hero left" href="#link-pounder">The Founders <span class="arrow-right"></span></a>
        </div>
        <div class="markers">
          <a class="link-hero makers" href="#link-makers">The Makers <div class="arrow-right"></div></a>
        </div>
      </div> -->
    </div>
  </div>
  <div class="pounder-section">
    <div class="container">
      <div class="row">
        <img class="bed-icon lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'bed.png' | asset_url }}" />
        <div class="pounder-text-top">
          <p>Sleeplessness and anxiety are growing issues in the life of the average person.</p>
          <p class="font-bold">Weighting Comforts seeks to be a solution in the lives of these people.</p>
          <p class="font-bold meet">Meet the founders.</p>
        </div>
      </div>
      <div class="row">
        <div id="link-pounder" class="pounder custom-pounder">
          <div class="pounder-image">
            <div class="img-pounder">
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'donna.jpg' | asset_url }}" />
              <p class="button-pounder">Founder</p>
            </div>
          </div>
          <div class="pounder-content">
            <div class="content-pounder">
              <h1>Donna Durham, MMFT</h1>
              <p>While pursuing a masters degree in marriage and family therapy, Donna first noticed the effectiveness of a weighted blanket. An advisor in her program asked her to make several weighted blankets for clients who suffered from anxiety.</p>
              <p class="content-bold">Immediately after trying the weighted blankets, her clients reported a sense of relief.</p>
              <p>Donna's background in Home Economics Education informed her fabric choices and construction expertise.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="pounder bt custom-pounder">
          <div class="pounder-image">
            <div class="img-pounder">
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'josh.jpg' | asset_url }}" />
              <p class="button-pounder">Founder</p>
            </div>
          </div>
          <div class="pounder-content">
            <div class="content-pounder">
              <h1>Josh Durham</h1>
              <p>As a Business Management Major, NCAA track athlete, Student Body Vice- President and ambitious self-starter, 23-year-old Josh Durham was searching for just the right product to be his first business launch. Combining Josh and Donna's individual strengths was an exciting adventure.</p>
              <p class="content-bold"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="better-section">
    <div class="container">
      <div class="row">
        <div class="better-sleep">
          <h1>Better Sleep, More Relief.</h1>
          <p class="content-bold">Weighted blankets benefit users just like a deep tissue massage.</p>
          <p>This pressure aids in releasing serotonin in the body. Serotonin is a hormone in our bodies that gives us a sense of well being. Some of that serotonin becomes melatonin which helps us relax and go to sleep</p>
          <p><span class="content-bold">Simply put, weighted blankets are calming, cozy and comforting.</span> At the end of a long day, there is nothing better than snuggling under the weight of a Weighting Comforts weighted blanket.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="feature-column">
        <div class="left-new">
          <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'left.jpg' | asset_url }}" />
          <div class="caption-column">
            <p class="text-small">NEW EDITION</p>
            <h4>Charcoal Flannel Weighted Blanket</h4>
            <p class="text-normal">Perfect if you’re new to weighted blankets</p>

          </div>
          <a class="button-view" href="/collections/flannel">View Blanket</a>
        </div>
        <div class="right-best">
          <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'right.jpg' | asset_url }}" />
          <div class="caption-column">
            <p class="text-small">BEST SELLER</p>
            <h4>COOLMAX® Weighted Blankets</h4>
            <p class="text-normal">Stay cool during the hot summer nights</p>

          </div>
          <a class="button-view right" href="/collections/coolmax">View Blanket</a>
        </div>
      </div>
    </div>

  </div>
</div>

<style>
  p.hero-text, span.br-display {
    text-align: center;
    font-size: 20px !important;
    font-weight: normal !important;
    font-family: 'Playfair Display' !important;
    color: #595959 !important;
    line-height: 35px !important;
  }
  .banner-section .hero-about-custom{
    width: 100%;
    display: block;
    position: relative;
  }
  #our-story img.hero-story{
    width: 100%;
    max-width: 100%;
    position: relative;
    display: block;
  }
  #our-story .caption-top{
    text-align: center;
    margin-top: 0;
    left: 50%;
    position: absolute;
    top: 44%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
  #our-story .caption-bt{
    display: block;
    margin-top: 30px;
  }
  #our-story .caption-bt p{
    margin-bottom: 30px;
  }
  #our-story a.link-hero.makers {
    margin-left: 40px;
    background-color: #ffff;
    color: #aeaeae;
    display: inline-block;
    -webkit-box-shadow: -1px 0px 12px 0px #8d8d8d;
    -moz-box-shadow: -1px 0px 12px 0px #8d8d8d;
    box-shadow: -1px 0px 12px 0px #8d8d8d;
  }
  a.link-hero.left{
    float: right;
    margin-right: 40px;
  }
  #our-story .hero-button{
    max-width: 100%;
  }

  #our-story .bed-icon{
    max-width: 120px;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -55px;
  }
  #our-story .pounder-section{
    background-image: url(//cdn.shopify.com/s/files/1/0054/1137/3091/files/bg-st2.jpg?289);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: center center;
    margin-top: 130px;
    padding-bottom: 60px;
  }
  #our-story .pounder-text-top{
    margin-top: 85px !important;
    text-align: center;
  }

  #our-story .pounder-text-top p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #555555;
    margin-bottom: 0px;
    line-height: 30px;
    padding-right:0;
  }
  #our-story p.font-bold{
    font-weight: 400;
  }
  #our-story p.font-bold.meet{
    margin-top: 10px;
  }
  .pounder{
    width: 100%;
    display: block;
    margin-top: 80px;
  }
  .pounder.bt{
    margin-top: 55px;
  }
  .pounder-image{
    float: left;
    width: 33%;
  }

  .pounder-content{
    float: right;
    width: 67%;
  }
  .img-pounder img{
    box-shadow: 1px 1px 4px 2px rgba(174, 174, 174, 0.86);
    border-style: solid;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    max-width: 350px;
    width:100%;
    text-align: center;
    margin: auto;
    display: block;
  }
  .button-pounder{
    width: 170px;
    border-radius: 10px !important;
    background-color: rgba(31, 178, 169, 1) !important;
    padding: 10px;
    line-height: 1.5em !important;
    margin: auto;
    font-size: 14px !important;
    text-align: center;
    color: #fff !important;
    position: relative;
    margin-top: -20px;
    padding-right: 10px !important;
  }
  #our-story h1{
    color: #000;
    font-weight: normal;
    font-family: Playfair Display;
    font-style: normal;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .caption-top h1{
    text-align: center !important;
  }
  .pounder-section p,
  .partner-section p,
  .partner-section p,
  .better-sleep p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-right: 100px;
    line-height: 30px;
    color: #555555;
  }
  .content-bold{
    font-weight: 400 !important;
    margin-bottom: 0px;
  }
  .content-pounder{
    padding-left: 55px;
  }
  .partner-section{
    display: block;
    position: relative;
  }
  .partner-content,.image-partner{
    width: 50%;
    float: left;
    padding-top: 110px;
  }
  #link-makers .partner-content{
    padding-left: 20px;
  }
  #link-makers .image-partner{
    display: inline-block;
    position: relative;
  }
  #link-makers .wrapp-link-makers{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    width: 100%;
  }
  #link-makers .image-partner .image-1{
    display: block;
    width: 100%;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #link-makers .image-partner .image-2{
    display: block;
    width: 100%;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 310px;
    position: absolute;
    left: -60px;
    top: 120px;
  }
  #link-makers .image-partner .image-3{
    display: block;
    width: 100%;
    max-width: 337px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
  }
  /*
  .image-1{
  margin-top: -40px !important;
  object-fit: cover;
  object-position: center;
  height: 220px;
  right: 24%;
  width: 235px;
  border-radius: 10px;
  position: absolute;
  }
  .image-2{
  right: 24%;
  object-fit: cover;
  object-position: center;
  height: 275px;
  width: 300px;
  position: absolute;
  border-radius: 10px;
  bottom: -15px;
  }
  .image-3{
  height: 270px;
  object-fit: cover;
  right: -11.5%;
  max-width: 600px !important;
  position: absolute;
  border-radius: 10px;
  top: 28%;
  }
  */
  .better-section{
    background-image: url(//cdn.shopify.com/s/files/1/0054/1137/3091/files/bg-pl.jpg?846);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: center center;
    margin-top: 110px;
    display: block;
    position: relative;
    padding-bottom: 60px;
  }
  .better-sleep{
    max-width: 800px;
    text-align: center;
    margin: auto;
  }
  .better-sleep h1,
  .better-sleep p{
    text-align: center !important;
    padding-right: 0 !important;
  }
  .left-new,
  .right-best{
    width: calc(50.0% - 10.0px);
    float: left;
  }
  .better-section .feature-column{
  }
  .better-section .feature-column {
    margin-bottom: 0;
    margin-top: 0;
  }
  .left-new{
    margin-right: 20px;
  }
  .feature-column img{
    max-width: 100%;
    display: block;
    width: 100%;
  }
  .feature-column{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    max-width: 1300px;
  }
  .caption-column p.text-small{
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 0;
  }
  .feature-column h4{
    color: #ffffff;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0;
    line-height: 28px;
  }
  p.text-normal{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
  }
  .caption-column{
    position: absolute;
    bottom: 18px;
    margin-left: 30px;
  }
  .feature-column .left-new,
  .feature-column .right-best{
    position: relative;
  }
  a.button-view{
    border-radius: 10px;
    max-width: 135px;
    background-color: #ffff;
    padding: 10px 20px;
    color: #000;
    line-height: 25px;
    bottom: 15px;
    position: absolute;
    right: 14px;
  }
  a.button-view:hover{
    background-color: rgba(40, 211, 203, 1) !important;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 1) !important;
  }
  a.button-view.right{
    right: 15px;
  }
  .the-pounder,
  .marker{
    margin: auto;
    width: 50%;
    float: left;
  }
  .pounder-section .custom-pounder{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 1367px) {
    #our-story .pounder-text-top {
      margin-top: 50px !important;
    }
    .pounder-section .custom-pounder {
      margin-top: 30px;
    }
    .pounder-section .custom-pounder .content-pounder h1{
      font-size: 42px;
      line-height: 54px;
      display: block;
      margin-bottom: 12px;
    }

    #our-story h1 {
      font-size: 42px;
    }
  }
  @media only screen and (max-width: 1199px) {
    p.hero-text, span.br-display {
      font-size: 17px !important;
    }
    #our-story .hero-button {
      padding: 0;
    }
    #our-story h1 {
      font-size: 35px;
      line-height: 44px;
      margin-bottom: 10px;
    }
    .pounder-section p, .partner-section p, .partner-section p, .better-sleep p {
      font-size: 15px;
      padding-right: 70px;
      line-height: 26px;
    }
    #our-story .pounder-section {
      margin-top: 110px;
      padding-bottom: 10px;
    }
    .partner-content, .image-partner {
      padding-top: 75px;
    }
    #link-makers .image-partner .image-1 {
      height: 175px;
      max-width: 190px;
    }
    #link-makers .image-partner .image-3 {
      max-width: 278px;
      height: 220px;
    }
    #link-makers .image-partner .image-2 {
      height: 175px;
      max-width: 262px;
      left: -72px;
      top: 87px;
    }
    a.link-hero.meet {
      font-size: 14px;
      min-height: auto;
    }
    .better-section {
      margin-top: 30px;
      padding-bottom: 40px;
    }
    .better-sleep {
      margin-top: 20px;
    }
    .better-section .feature-column {
      margin-top: 0;
      margin-bottom: 0;
    }
    .caption-column p.text-small {
      line-height: 16px;
      font-size: 12px;
    }
    .feature-column h4 {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 26px;
      padding: 0;
    }
    p.text-normal {
      font-size: 13px;
    }


  }
  @media only screen and (max-width: 991px) {
    #our-story img.hero-story {
      object-fit: cover;
      min-height: 280px;
    }
    .pounder-section div.container {
      padding: 20px 15px;
      width: 100%;
    }
    .pounder-section p, .partner-section p, .partner-section p, .better-sleep p {
      font-size: 14px;
      padding-right: 0px;
      line-height: 26px;
    }
    .content-pounder {
      padding-left: 22px;
    }
    .pounder-image .img-pounder{
      margin-top: 0 !important;
    }

    #link-makers .partner-content {
      padding-left: 0;
      padding-right: 83px;
    }
    .caption-column {
      bottom: 60px;
    }
    a.button-view {
      border-radius: 10px;
      max-width: 135px;
      background-color: #ffff;
      padding: 8px 18px;
      color: #000;
      line-height: 25px;
      bottom: 0;
      position: absolute;
      right: auto;
      font-size: 14px;
      bottom: 9px;
      left: 18px;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  @media only screen and (max-width: 798px) {
    #our-story img.hero-story {
      min-height: 280px;
      margin-top: 30px;
    }
    #our-story h1 {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 8px;
    }
    #our-story .caption-top {
      top: 50%;
    }
    #our-story .hero-button {
      width: 100%;
    }
    #link-makers .container{
      padding: 20px 15px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 767px) {  
    #our-story h1 {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 8px;
    }
    #our-story img.hero-story {
      min-height: 220px;
      margin-top: 34px;
    }
    p.hero-text, span.br-display {
      font-size: 15px !important;
    }
    #our-story a.link-hero.makers {
      max-width: 200px;
      min-height: auto;
      font-size: 14px;
    }
    a.link-hero.left {
      float: right;
      margin-right: 40px;
      max-width: 200px;
      min-height: auto;
      font-size: 14px;
    }
    #our-story .bed-icon {
      max-width: 85px;
      top: -28px;
    }
    #our-story .pounder-section {
      margin-top: 70px;
      padding-bottom: 10px;
    }
    #our-story .pounder-text-top p {
      font-size: 16px;
      line-height: 26px;
    }
    #link-makers .partner-content {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      display: inline-block;
      float: none;
      padding-top: 15px;
      max-width: 100%;
    }
    #link-makers .wrapp-link-makers {
      display: block;
    }
    #link-makers .image-partner {
      display: block;
      position: relative;
      width: 100%;
      float: none;
      padding: 0;
    }
    #link-makers .image-partner .image-2 {
      height: 175px;
      max-width: 210px;
      left: 0;
      top: 10px;
      position: relative;
    }
    #link-makers .image-partner .image-1 {
      height: 175px;
      max-width: 210px;
      position: relative;
    }
    #link-makers .image-partner .image-3 {
      max-width: calc(100% - 222px);
      height: 220px;
      top: 50%;
    }
    .feature-column .left-new, .feature-column .right-best {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 14px;
      margin-right: 0;
      margin-left: 0;
    }



  }
  @media only screen and (max-width: 639px) {
    #our-story .caption-top p{
      font-size: 13px;
      margin: 0;

    }
    #our-story img.hero-story {
      min-height: 184px;
      margin-top: 34px;
    }
    #our-story a.link-hero.makers {
      max-width: 200px;
      font-size: 14px;
      margin-left: 5px;
      margin-top: 0;
      margin-bottom: 0 !important;
    }
    a.link-hero.left {
      float: right;
      margin-right: 5px;
      max-width: 200px;
      min-height: auto;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0 !important;
    }
    .pounder-image {
      float: none;
      width: 100%;
      display: block;
    }
    .pounder-section .custom-pounder {
      margin-top: 30px;
      display: block;
    }

    .pounder-image .img-pounder {
      margin-top: 0 !important;
      margin: 0 auto 20px;
    }
    .pounder-content {
      float: none;
      width: 100%;
      display: block;
    }
    .better-sleep {
      margin-top: 20px;
    }
    .content-pounder {
    padding-left: 0;
}


  }
  @media only screen and (max-width: 480px) {
    #our-story img.hero-story {
      min-height: 122px;
      margin-top: 34px;
    }
    #our-story .caption-top {
      top: 0;
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      left: 0;
      position: relative;
    }
    p.hero-text, span.br-display {
      font-size: 14px !important;
    }
    #our-story .caption-bt p {
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 20px !important;
    }
    .the-pounder, .marker {
      margin: auto;
      width: 100%;
      float: none;
      display: inline-block;
      margin-bottom: 8px;
      text-align: center;
    }
    a.link-hero.left {
      float: none;
      margin-right: auto;
      max-width: 200px;
      min-height: auto;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0 !important;
      height: auto;
      line-height: 50px;
    }
    #our-story a.link-hero.makers {
      max-width: 200px;
      font-size: 14px;
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0 !important;
      float: none;
      display: block;
      margin: 0 auto;
      width: 100%;
      line-height: 50px;
    }
    #link-makers .image-partner .image-1 {
    height: auto;
    max-width: 100%;
    position: relative;
}
    #link-makers .image-partner .image-2 {
    height: auto;
    max-width: 100%;
    left: 0;
    top: 10px;
}
    #link-makers .image-partner .image-3 {
    max-width: 100%;
    height: auto;
    top: 0%;
    position: relative;
    -webkit-transform: translate( 0%, 0%);
    -moz-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    display: block;
    margin-top: 23px;
}
    .better-section .better-sleep{
      position: relative;
    }
    .caption-column {
    margin-left: 12px;
}
    .feature-column img {
    min-height: 200px;
    object-fit: cover;
}
    .better-section {
    margin-top: 30px;
    padding-bottom: 0px;
}

  }
  @media only screen and (max-width: 369px) {

  }
</style>